<div class="card">
  <header class="card-header has-background-grey-lighter">
    <p class="card-header-title">
      Registration error
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <p class="has-text-danger-dark"><%= @prereg_error %></p>
    </div>
  </div>
</div>
