<article class="message is-primary mt-6">
  <div class="message-body">
    <p><b>Instructions for Archon:</b></p>
    <ol>
      <li>Load Archon into LibreOffice / Excel, fill in tournament info
        (at least Number of Rounds must be specified).
      </li>

      <li>Generate randomized CSV using button above (will download file).</li>

      <li>Open the downloaded CVS file with your spreadsheet app:</li>
      <ul>
        <li class="mt-2"><b>LibreOffice</b>: open CSV file normally, make sure that the import dialog sets the
          correct character set (Unicode UTF-8).
        </li>
        <li class="my-2"><b>Excel</b>: opening the file normally will probably use wrong character set and
          your Scandinavian characters etc will be messed up. Instead, do this:
          use import function in "Data" tab, import "from text" (selecting the CSV file),
          and choose UTF-8 encoding.
        </li>
      </ul>

      <li>Cut-paste contents into Archon "Methuselahs" tab player list.</li>

      <li>Check that Archon now shows proper table seatings for all rounds.</li>
    </ol>
  </div>
</article>