<button data-action="toggle#toggle"
        data-toggle-target="button"
        data-show-text="Show Archon help"
        data-hide-text="Hide Archon help"
        class="button is-success is-light is-small">Show Archon help
</button>
<div id="archonhelp" class="is-hidden" data-toggle-target="item">
  <%= render 'tournaments/archon_help_text' %>
</div>