<article class="message is-primary mt-6">
  <div class="message-body">
    <p><b>Instructions for Archon:</b></p>
    <ol>
      <li>Load Archon into LibreOffice / Excel, fill in tournament info
        (at least Number of Rounds must be specified).
      </li>
      <li>Generate randomized CSV using button above (will download file).</li>
      <li>Open this file with your spreadsheet app.</li>
      <li>Cut-paste contents into Archon "Methuselahs" tab player list.</li>
      <li>Check that Archon now shows proper table seatings for all rounds.</li>
    </ol>
  </div>
</article>