<article class="message is-primary mt-4">
  <div class="message-body">
    <p><b>Instructions for Archon:</b></p>
    <ol>
      <li>Load Archon into LibreOffice / Excel, fill in tournament info
        (at least Number of Rounds must be specified).
      </li>

      <li>Generate randomized CSV using button above (will download file).</li>

      <li>Open the downloaded CVS file with your spreadsheet app:
        <ul>
          <li class="mt-2"><b>LibreOffice</b>: open CSV file normally, make sure that the import dialog sets the
            correct character set (Unicode UTF-8).
          </li>
          <li class="my-2"><b>Excel</b>: <%= link_to 'import the CSV into Excel',
                                                     'https://support.microsoft.com/en-us/office/import-or-export-text-txt-or-csv-files-5250ac4c-663c-47ce-937b-339e391393ba',
                                                     target: '_blank' %>
          </li>
        </ul>
      </li>

      <li>Cut-paste contents into Archon "Methuselahs" tab player list.</li>

      <li>Check that Archon now shows proper table seatings for all rounds.</li>
    </ol>
  </div>
</article>