<span class="icon has-tooltip-left has-tooltip-info"
      data-tooltip="<%= decklist_lines(decklist) %>"
      style="cursor:auto; color:<%= decklist_check_color(decklist) %>"><i class="fas fa-<%= decklist_check_symbol(decklist) %>"></i></span>
