<div class="container">
  <div class="columns">
    <div class="column is-one-third">

      <h1 class="title is-4">Tournaments</h1>

      <p>Tournaments are listed in reverse time order (newest first).
        Use the button below to create a new tournament entry.</p>

      <div class="control mt-4">
        <%= button_to "Add new tournament", new_tournament_path, method: :get,
                      form: { data: { turbo_frame: "tournaments" } },
                      class: "button is-primary"
        %>
      </div>

    </div>
    <div class="column">
      <%= render "tournaments", tournaments: @tournaments %>
    </div>
  </div>
</div>
