# Example of credentials this app requires.

# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: LONG_SECRET_GENERATED_BY_RAILS

login:
  development:
    username: mylan
    password: mylan

  production:
    username: PRODUCTION_USERNAME
    password: PRODUCTION_PASSWORD
    
db:
  development:
    primary:
      username: mylan
      password: mylan
    ecdata:
      username: mylan
      password: mylan

  production:
    primary:
      username: mylan
      password: MYLAN_DB_PRODUCTION_PASSWORD
    ecdata:
      username: ec2020
      password: ECDATA_DB_PRODUCTION_PASSWORD
