<div class="container">
  <div class="columns">
    <div class="column is-one-quarter">

      <h1 class="title is-4">Changelog</h1>

      <p>Manual edits done to player list, in reverse time order. Does not include pre-registered player additions via
        Wordpress EC2022 public pages.</p>
    </div>
    <div class="column">
      <%= render "changelogs", logs: @logs  %>
    </div>
  </div>
</div>
